#nav-form-bar-drop {
  min-width:1235px;
  background-color: #6504b5;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 55px;
  position:absolute; 
  left: 0;
  right: 0;
  top: 70px;
  padding:0px;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .15s cubic-bezier(.215,.61,.355,1), -webkit-transform .15s cubic-bezier(.215,.61,.355,1);
}

.nav-resources-dropdown-container {
  position: absolute;
  background-color: #410078;
  top: 100%;
  padding: 30px;
  left: -30px;
  border-radius: 0 0 10px 10px;
  width: 245px;
  text-align: left;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .15s cubic-bezier(.215,.61,.355,1), -webkit-transform .15s cubic-bezier(.215,.61,.355,1);
}
.nav-resources-dropdown-container a{
  line-height: 1.6;
  color:#ddb4ff;
  text-decoration: none;

}




.nav-resources-dropdown-container a:hover{
  color:#FFF;
  text-decoration: underline;
}


.nav-resources-button {
  background-color: transparent;   /* Green #6504b5;*/
  border: none;
  color: #ecd7fd;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
  height:55px;
  width: 100%;
}

.nav-resources-button a:hover {
  color: white;
  text-decoration: none;
}

.nav-resources-button a {
  text-decoration: none;
  color: #ecd7fd;
}

.nav-btn-container-resources {
  border: none;
  color: #ECD7FD;
  padding: 0px 3%;
  border-left: 1px solid #444444;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height:100%;
  border: none;

}


.animateNav {
  animation-duration: 0.15s;
  -webkit-animation-duration: 0.15s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}


@-webkit-keyframes slideInDown {
  from {
    transform: scaleY(0);
    visibility: hidden;
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes slideInDown {
  from {
    transform: scaleY(0);
    visibility: hidden;
  }

  to {
    transform: scaleY(1);
  }
}

.navSlideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}