#nav-top-bar-main {
  background-color:white;
  width:77%;
  min-width:300px;
  height:70px;
  /* z-index:2; */
  transition: all 0.5s ease;
}

#nav-top-bar-searching {
  background-color:#6504b5;
  width:77%;
  min-width:300px;
  height:70px;
  transition: all 0.5s ease;
}

#nav-top-bar-register{

  background-color:white;
  width:23%;
  min-width:235px;
  height:70px;
}

.nav-top-container-logo{
  background-color:transparent;
  float: left;
  height:70px;
  min-width:150px;
  width:25%;
}

.nav-top-container-dir{
  background-color:transparent;
  float:left;
  padding: 0px 20px;

}
.nav-top-container-search{
  background-color:transparent;
  /* padding: 0px 0px; */
  float:right;
  height:70px;

}

.nav-top-container-register{
  background-color:white;
  float:left;
  height:70px;
  min-width:200px;
}

.nav-top-container-btn {
  background-color:transparent;
  display: inline-block;
  height: 70px;
  font-family: 'Nexa Regular', helvetica, arial, sans-serif;

  /* background-color:red; */
}

.nav-top-container-btn:hover {
  background-color: #410078;
}

.nav-top-container-btn-right {
  background-color:transparent;
  float:right;
  height:70px;
  font-family: 'Nexa Regular', helvetica, arial, sans-serif;

}

.nav-top-button {
  height:100%;
  background-color: transparent;
  border: none;
  color: #4D4751;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Nexa Bold', helvetica, arial, sans-serif;

  /* padding: 0px 20px; */
}

.nav-top-button:hover {
  color:#6504b5;
}

.padded {
  background-color:transparent;
  padding: 0px 10px;
}

.padded2 {
  background-color:transparent;
  width:70px;
}

.no-bold {
  font-weight: normal;
  font-family: "Nexa Regular";
}

.nav-top-container-searching{
  /* background-color:pink; */
  /* padding: 0px 0px; */
  width: 74%;
  height:70px;

}

.nav-top-container-searching-bar {

  background-color:transparent;
  border-top: none;
  display: inline-block;
  width:40%;
}

.article-search {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: "Nexa Regular";
  border-top: 1px solid #6504b5;
}

.white {
  color: white
}

.white:hover {
  color:white
}

.left-border {
  border-left: 1px solid #444444;
}

.large {
  font-size: 48px;
}


.nav-register-icon {
  width: 50px;
  height: 30px;
  text-align: center;
  background: url("icon-register.png") no-repeat center;
  background-size:28px 30px;
  display: inline-block;
}

.nav-top-button:hover .nav-register-icon{
  background: url("icon-register-hover.png") no-repeat center;
  background-size:28px 30px;
}

.nav-search-icon {
  width: 50px;
  height: 30px;
  text-align: center;
  background: url("icon-search.png") no-repeat center;
  background-size:25px 30px;
  display: inline-block;
}

.nav-top-button:hover .nav-search-icon{
  background: url("icon-search-hover.png") no-repeat center;
  background-size:25px 30px;
}

.nav-searching-icon {
  width: 50px;
  height: 30px;
  text-align: center;
  background: url("icon-searching.png") no-repeat center;
  background-size:25px 30px;
  display: inline-block;
}

/* [Object] Modal
 * =============================== */
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: #2e0152;
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  /* padding: 1em 2em; */
  height: 687px;
  max-width: 924px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}