#nav-pop-up-main {
  background-color:yellow;
  display:flex;
  /* width:900px; */
  
}

.nav-popup-left-container{
  display: inline-block;
  background-color: #6504b5;
  width: 50%;
  height: 687px;
  text-align:left;
  color: white;


}

.nav-popup-right-container{
  display: inline-block;
  background-color: white;
  color:#6504b5;
  width: 50%;
  height: 687px;
  border: 1px solid red;
}