.nav-btn-container-breed {
  /* background-color:yellow; */
  border: none;
  color: #ECD7FD;
  /* padding: 20px 10px; */
  border-left: 1px solid #444444;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  height:100%;
  width:200px;
}

.no-border {
  border: none;
}

.nav-breed-button {
  background-color: transparent;   /* Green #6504b5;*/
  border: none;
  color: #ecd7fd;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 14px;
  
  padding: 0px;
  height:55px;
  width: 100%;
  /* border: 1px solid #2e0152; */
}

.nav-breed-button:hover {
  color: white;
}