body, div, span {
  font-family: 'Nexa Regular', helvetica, arial, sans-serif;
}

#app, #test {
  background-color: red;
}

#nav-bar-frame {
  display: flex;
  background-color: #f0f0f0;
  text-align: center;
  position:absolute; 
  /* this allows the navigation bar to stretch through the entire screen but it cuts off a small section of the top page */
  left: 0;
  right: 0;
  top: 0;
  padding:0px;
  height:70px;
  background-size:100%;   
}
/* #nav-bar-container {
  display: flex;
  background-color: #f0f0f0;
  width:90%;
  
} */

#nav-bar-main {
  height:70px;
  text-align: left;
  background-color:red;
  flex-grow: 1;
}

#nav-bar-register {
  height:69px;
  background-color:yellow;
  width: 20%;
  font-size: 14px;
}

#nav-search-container {
  /* display: inline; */
  height:70px;
  text-align: left;
  background-color: #6504b5;
  flex-grow: 1;

  color: white;
  font-size: 14px;
}

#nav-search-items {
  display: inline-block;
}

#nav-search-btn {
  width: 70px;
  border: 1px red;
}

.button {
  background-color: WHITE; /* Green */
  border: none;
  color: #4D4751;
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height:20px;
  width:140px;
  border: 1px solid #2e0152;
}

.nav-button {
  background-color: WHITE; /* Green */
  border: none;
  color: #4D4751;
  padding: 25px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height:20px;
  width:100px;
  border: 1px solid #2e0152;
}

.search {
  width:30px;
  float: right;
}

.logo {
  padding: 25px 10px;
  /* width:30px; */
}

.find {
  background-color: #6504b5;
  color: white;
  font-size: 14px;
  padding: 40px 5px;
  width: 20%;
  border-left: 1px solid #2e0152;
  /* border-right: 1px solid red; */
}

.find-search-bar {
  background-color: #2e0152;
  color: white;
  font-size: 14px;
  padding: 40px 5px;
  width: 20%;
}

.searching {
  background-color: #6504b5;
  color: white;
  font-size: 14px;
}

.fake {
  width:1px;
}

.search-bar {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 38px;
}

form {
  display: inline-block;
}


#nav-form-bar-drop {
  background-color: #6504b5;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 55px;
  position:absolute; 
  left: 0;
  right: 0;
  top: 70px;
  padding:0px;
}

#nav-form-bar-drop-find {
  background-color: #6504b5;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100px;
  position:absolute; 
  left: 0;
  right: 0;
  top: 70px;
  padding:0px;
}

.nav-breed-button {
  border: none;
  color: #ECD7FD;
  padding: 20px 10px;
  border-left: 1px solid #444444;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* height:69px; */
  /* width:200px; */
}

.no-border {
  border: none;
}